@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Overpass';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/overpass/Overpass-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Undotted';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/undotted/Undotted-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Undotted';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/undotted/Undotted-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Undotted';
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/undotted/Undotted-Black.woff2') format('woff2');
}

@layer base {
  html {
    --white: 250 249 246;
    --black: 31 31 33;
    --green-500: 65 124 94;
    --green-800: 51 86 69;

    --horizontal-spacing: 4vw;

    @apply md:[--horizontal-spacing:5vw] lg:[--horizontal-spacing:6vw] 4xl:[--horizontal-spacing:8vw];

    overflow-x: hidden
  }

  html, .dark {
    --clr-primary: var(--black);
    --clr-secondary: var(--white);
    --clr-accent: var(--green-500);
  }

  html, .light {
    --clr-primary: var(--white);
    --clr-secondary: var(--black);
    --clr-accent: var(--green-800);
  }

  body {
    text-rendering: optimizeSpeed;

    @apply font-overpass bg-primary text-secondary;
  }

  img, picture, svg, video {
    display: block;
    max-width: 100%;
  }

  h1 {
    @apply lowercase leading-[0.9em] text-h1 tracking-[-0.052em] font-undotted
  }

  .grid-cols-layout > * {
    grid-column: content;
  }
}

@layer utilities {
  .horizontal-spacing {
    @apply px-[var(--horizontal-spacing)];
  }

  .text-heading-2 {
    @apply lowercase font-undotted text-h2 leading-[0.9em] tracking-[-0.045em];
  }

  .text-heading-3 {
    @apply font-medium tracking-tighter text-h3 leading-[1.05em] dark:font-normal;
  }

  .text-heading-4 {
    @apply tracking-tight text-h4 leading-[1.3em];
  }

  .clip-path {
    clip-path: polygon(0% -5%, 0% 105%, 100% 105%, 105% -5%);
  }
}